# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/
*.egg-info/
.env
.venv/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Mac
.DS_Store

# Tableau
*.twb~  # temp backup files

# CSVs (optional if data is too large)
*.zip
